APP_ENV=development
DEBUG=false
LOG_LEVEL=INFO

DATABASE_URL=postgresql+psycopg://careeriq:careeriq@localhost:5432/careeriq
DATABASE_ECHO=false

CORS_ALLOW_ORIGINS=["http://localhost:3000"]

JWT_SECRET=lpvKzmkBaIJNkjpfTkamlCJiph4NAr1zXkO5sM3dY2U=
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
